body{
  background-color: rgb(227, 227, 227);
}
.contanider{
 display: grid;
  border-radius: 20px;
  border: 2px solid rgb(202, 202, 202);
  margin: 50px;
  background-color: white;
  margin-left: 32%;
  margin-right: 32%;
  padding: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
}
.globaldiv{
  display: grid;
   margin: 0px;
   gap: 15px;
   
 }

h1{
  margin: 0;
  padding: 0;
}
hr {
  width: 100%;
  height: 3px;
  background-color: rgb(142, 68, 173); 
  border: 0;
  margin: 15px auto;
  border-radius: 10px; 

}
.div0{
  padding-top: 15px; 
  text-align: justify;
margin: 0;
color:rgb(142, 68, 173);
text-align: center;
}

#Subtitulo{
  color: rgb(41, 128, 186);
  font-size: 25px;
 margin-top: 10px;
}

#Subtitulo1{
  color:  rgb(26, 34, 125);
  font-size: 25px;
  margin: 0;
 
}

.div1{
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(175, 189, 196);
  background-color: rgb(230, 232, 245);
  text-align: justify;
margin: 0;
}

.div2{
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(240, 153, 153);
  background-color: rgb(255, 235, 238);
  text-align: justify;
margin: 0;
}
.div3{
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 171, 194);
  background-color:rgb(225, 247, 250);
  text-align: justify;
margin: 0;
}

a{
  color: black;
}
#t{
  color: rgb(0, 120, 106);
}

@media screen and (max-width: 1200px) {
  .contanider{
    display: grid;
     border-radius: 20px;
     border: 2px solid rgb(202, 202, 202);
     margin: 50px;
     background-color: white;
     margin-left: 10%;
     margin-right: 10%;
     padding: 25px;
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
   }
}


@media screen and (max-width: 700px) {
  .contanider{
    display: grid;
     border-radius: 20px;
     border: 2px solid rgb(202, 202, 202);
     margin: 50px;
     background-color: white;
     margin-left: 0%;
     margin-right: 0%;
     padding: 25px;
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
   }
}







